<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">

    <Properties>
        <Property name="LOG_PATH">C:/Logs/BackendWithDevops</Property>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss} %-5level [%t] %c{1} - %msg%n
        </Property>
    </Properties>

    <Appenders>

        <!-- Console -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <!-- File -->
        <RollingFile
                name="File"
                fileName="${LOG_PATH}/BackendDevops.log"
                filePattern="${LOG_PATH}/BackendDevops-%d{yyyy-MM-dd}-%i.log.gz">

            <PatternLayout pattern="${LOG_PATTERN}"/>

            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>

            <DefaultRolloverStrategy max="10"/>

        </RollingFile>

    </Appenders>

    <Loggers>

        <!-- Application logs -->
        <Logger name="com.Docker.BackendDevops"
                level="DEBUG"
                additivity="false">

            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>

        </Logger>

        <!-- Root logger -->
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>

    </Loggers>

</Configuration>